In [1]:
import numpy as np
import pandas as pd
from scipy.stats import binom, norm
import bplot as bp
from scipy.optimize import minimize
import patsy
from joblib import Parallel, delayed

In [5]:
types = pd.read_excel("/Users/brandonleff/Desktop/bestteam/bestteam/data/types.xlsx")

In [6]:
types.head()

      type1  type2  interaction
0      fire    NaN          NaN
1     water    NaN          NaN
2     grass    NaN          NaN
3  electric    NaN          NaN
4    ground    NaN          NaN